<div class="message-wrapper">
  <div class="messages-body">
		
		<h2 class="message-show-header">
			Messages
		</h2>
		
		<% parent_sender = @message.sender %>
    <% parent_receiver = @message.receiver %>

    <%= render "message", message: @message %>

  	<div class="message-children">
			<% @message.children.includes(:sender).each do |message| %>
	      <%= render "message", message: message %>
	  	<% end %>
		</div>

	  <% receiver = parent_sender.id == current_user.id ? parent_receiver : parent_sender %>
  	
		<section class="message group">
	    <div class="message-left">
				<% temp_profile_url = current_user.profile_pic ? current_user.profile_pic.pic : "default_profile_pic.jpeg" %>
		    <%= link_to image_tag(temp_profile_url, class: "message-sender-photo"), wall_user_url(current_user) %>
			</div>
			
			<div class="message-right">
				<%= render "add_message", parent: @message, receiver: receiver %>
			</div>
		</section>
  </div>
</div>

<script>
  $(document).ready(function(event){
    $("#message-create").on("ajax:success", function(event, data){
      var $form = $(this);
      $(".message-children").append(data);
      $form[0].reset();
    });
  });
</script>