<div class="message-wrapper">
  <div class="messages-body">
  	<section class="message group">
  		<% parent_sender = @message.sender %>
      <% parent_receiver = @message.receiver %>

      <%= render "message", message: @message %>
  	</section>

    <section class="message-children">
    	<% @message.children.each do |message| %>
        <%= render "message", message: message %>
    	<% end %>
    </section>

  <% receiver = parent_sender.id == current_user.id ? parent_receiver : parent_sender %>
  <%= render "add_message", parent: @message, receiver: receiver %>
  </div>
</div>

<script>
  $(document).ready(function(event){
    $("#message-create").on("ajax:success", function(event, data){
      var $form = $(this);
      $(".message-children").append(data);
      $form[0].reset();
    });
  });
</script>