<div class="profile-setup-page">
	<h3 class="profile-header">Fill Out Your Basic Info</h2>
	
  <section class="profile-form">
    <%= render :partial => 'form', :locals => { url: profiles_url, value: "post"} %>
  </section>
</div>