<%= render "header" %>

<section class="friends">
  <header>
    <h3>Friends</h3>
  </header>
	
	<article>
		<ul>
			<% friends = User.includes(:profile_pic).where("id IN (?)", current_user.friends_ids) %>
			
			<% friends.each do |friend| %>
			
			<li class="user-index">
        <% temp_profile_url = friend.profile_pic ? friend.profile_pic.pic : "default_profile_pic.jpeg" %>
        <%= link_to image_tag(temp_profile_url, class: "user-header-photo"), wall_user_url(friend) %>
				
				<div class="index-right">
					<%= link_to "#{friend.first_name} #{friend.last_name}", wall_user_url(friend) %>
					
					<div class="friendship-button">
						<input type="button" value="&#10004 Friends" class="is-friend"> 
					</div>
				</div>
			</li>
			
			<% end %>
		</ul>
		
		
	</article>
		
</section>