<div class="notification-page">
  <h1>Recent Notifications</h1>

		<% @notifications.reverse.each do |notification| %>
		<% notifiable_type = notification.notifiable_type %>
    <% sender = notification.sender %>

		<section class="notification">
      <% temp_profile_url = sender.profile_pic ? sender.profile_pic.pic : "default_profile_pic.jpeg" %>

      <div class="notification-image">
        <%= link_to image_tag(temp_profile_url, class: "notification-photo"), wall_user_url(sender) %>
      </div>

      <div class="notification-right">
        <div class="delete-notification hidden">
          <%= button_to "", notification_url(notification), method: :delete, class: "delete-not-button", :remote => true, :form_class => "delete-notification-button" %>
        </div>

        <div class="notification-body">
      		<%= notification.message.html_safe %>
        </div>
      </div>
    </section>

	<% end %>
</div>


<script>

$(document).ready(function(event){
	$(".notification-page").on("ajax:success", ".delete-notification-button", function(event, data){
		$button = $(this);
		$notification = $button.closest(".notification");
		$notification.remove();
	});
	
	$(".notification").mouseenter(function(){
		$notification = $(this);
		$hidden = $notification.find(".delete-notification");
		$hidden.toggleClass("hidden");
	})
	
	$(".notification").mouseleave(function(){
		$notification = $(this);
		$hidden = $notification.find(".delete-notification");
		$hidden.toggleClass("hidden");
	})
});


</script>