header, body, div, nav, ul, li, h1, p, input, section, h5, h2, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
	height: 100%;
}

.yield-wrapper {
	width: 100%;
	display: block;
	background: #DFE7FF;
}

.body-wrapper, .users-index-wrapper {
	background-color: #FFF;
	min-height: 100%;
}

body {
	font-family: sans-serif;
	height: 100%;
}

a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background: #0533B2;
}

.header-logo {
  float: left;
  padding: 10px 20px;
  color: white;
  font-size: 1.5em;
}


div.header-wrapper {
  width: 1000px;
  margin: auto;
}

.header-list {
  float: right;
}

.header-list {
 border-right: 2px solid white;
}

.header-list li:last-child {
	padding: 0;
}

.header-list > li {
	padding: 15px 0;
  float: left;
  border-left: 2px solid white;
}

.header-list > .fake-header-list {
	padding: 15px 10px;
	color: #C9C9C9;
	float: left;
	border-left: 2px solid white;
}

.header-list li a {
	padding: 15px 10px;
	background: #0533B2;
  color: #FFF;
  text-decoration: none;
}

.logout {
	padding: 15px 10px;
  background: #0533B2;
  color: white;
}

.logout:hover {
  cursor: pointer;
}

.empty-block {
  height: 500px;
  width: 500px;
  margin: auto;
}