header, body, div, nav, ul, li, h1, p, input, section, h5, h2, h3, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
	height: 100%;
}

.yield-wrapper {
	width: 100%;
	display: block;
	background: #DFE7FF;
}

.body-wrapper, .users-index-wrapper, .message-wrapper,
.profile-setup-wrapper, .pending-request-wrapper, 
.notification-page, .photo-view-page {
	background-color: #FFF;
	min-height: 100%;
}

body {
	font-family: sans-serif;
	height: 100%;
}

a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background: #0533B2;
}

.header-logo {
  float: left;
  padding: 10px 20px;
  color: white;
  font-size: 1.5em;
	border-left: 1px solid white;
}


div.header-wrapper {
  width: 1000px;
  margin: auto;
}

.header-list {
  float: right;
}

.header-list {
 border-right: 1px solid white;
}

.header-list li:last-child {
	padding: 0;
}

.header-list > li {
	padding: 15px 0;
  float: left;
  border-left: 1px solid white;
}

.header-list > .fake-header-list {
	padding: 15px 10px;
	color: #C9C9C9;
	float: left;
	border-left: 2px solid white;
}

.header-list li > a {
	padding: 15px 10px;
	background: #0533B2;
  color: #FFF;
  text-decoration: none;
}

.friendship-button-short {
	width: 150px;
}

.friendship-button-short input {
	padding: 3px;
	margin-top: 3px;
	font-size: .7em;
	color: #FFF;
	background: #0533B2;
	border-radius: 2px;
	float:left;
	margin-right: 10px;
}

.user-index-short {
  width: 250px;
  height: 50px;
	padding: 5px 10px;
	border-bottom: 1px solid #c9c9c9;
}

.has-dropdown {
	position: relative;
}

.has-dropdown > a:hover {
	cursor: pointer;
}

.dropdown {
	box-shadow: 0px 2px 5px #C9C9C9;
	border: 1px solid #c9c9c9;
	border-top: none;
	top: 48px;
	left: -1px;
	position: absolute;
	background: #FFF;
	z-index: 1;
	display: none;
}

.show {
	display: block;
}

.right-aligned {
	right: -1px;
	left: auto;
}

.dropdown-header {
	font-size: .8em;
	padding: 10px 10px;
	border-bottom: 1px solid #c9c9c9;
}

.empty-dropdown {
	font-size: .8em;
	width: 250px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

.dropdown-footer {
	padding: 10px 0px;
	text-align: center;
	font-size: .8em;
}

.logout {
	padding: 15px 10px;
  background: #0533B2;
  color: white;
}

.logout:hover {
  cursor: pointer;
}

.notification-short {
  padding: 5px 10px;
  height: 50px;
  width: 300px;
	border-bottom: 1px solid #c9c9c9;
}

.notification-body-short {
	width: 200px;
  margin: 5px 10px;
	font-size: .9em;
}

.empty-block {
  height: 500px;
  width: 500px;
  margin: auto;
}