// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-wrapper {
  width: 1000px;
  margin: auto;
}

.message-group {
  padding-top: 25px;
  padding-left: 100px;
}

.message-sender-photo {
  width: 50px;
  height: 50px;
  float: left;
}

.list-message {
  height: 75px;
}

.empty-messages {
	padding-left: 10px;
	font-size: 1em;
	font-weight: normal;
	padding-bottom: 25px;
}

.messages-right {
  float: left;
  margin-left: 7px;
}

.messages-right a {
  color: blue;
}

.messages-right .expand-conversation {
  padding: 3px;
	border-radius: 2px;
  background: #C9C9C9;
  color: white;
}

.message-names {
  float: left;
	margin-bottom: 7px;
}

.create-message-wrapper {
	border-top: 1px solid #C9C9C9;
	width: 100%;
	padding-top: 30px;
}

.create-message {
	padding-left: 100px;
}

.create-message h2 {
	padding-bottom: 10px;
	font-size: 1.5em;
}

.message-input-text {
	border: 1px solid #C9C9C9;
}

.message-submit {
	margin-top: 5px;
	background: #C9C9C9;
	color: white;
	padding: 3px;
	border-radius: 2px;
	font-size: .9em;
}

.messages-body {
	width: 500px;
	margin: auto;
  padding: 40px 0 0 5px;
}

.message {
	width: 500px;
	background: #EEEEEE;
  padding: 5px 0;
	border-bottom: 1px solid #FFF;
}

.message-left {
	float: left;
}

.message-right {
	float: left;
	margin-left: 10px;
	font-size: .9em;
	width: 430px;
}

.message-right a {
	font-weight: bold;
}

.message-body {
	padding: 3px 3px 5px 0;
}

.message-time {
	color: #888888;
	font-size: .8em;
	float: left;
}

.message-show-header {
	font-size: 1.5em;
	padding-bottom: 20px;
}

.add-message-show {
	font-size: .9em;
	padding: 3px;
	margin-top: 5px;
	width: 400px;
}

.message-show-submit {
	display: none;
}