// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-wrapper {
  width: 550px;
  margin: 20px auto;
}

.header-photo {
  float: left;
}

.everything-right {
  float: left;
	margin-left: 10px;
  width: 480px;
}

.post-body {
	padding-top: 5px;
  margin-left: 3px;
}

.post-header-photo {
  width: 60px;
  height: 60px;
}

.post-header a {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.post-body-photo {
  margin-left: 3px;
}

.post-photo {
	padding-top: 25px;
  width: 350px;
}

.edit-post {
	padding: 5px 0;
}

.edit-post > li {
	float: left;
	font-size: .8em;
	color: blue;
}

.edit-post li input {
	margin-right: 15px;
	color: blue;
	background: inherit;
}

.edit-post li input:last-child {
	margin-right: 0px;
}

.edit-post time {
	color: #888888;
	margin-right: 10px;
}

.post-comments {
	background: #EEEEEE;
}

.comment-header-photo {
	width: 40px;
	height: 40px;
}

.list-comment {
  padding: 5px;
	padding-right: 20px;
  border-bottom: 1px solid white;
}

.left-comment {
	float: left;
}

.comment-body {
	padding-top: 3px;
	padding-left: 2px;
}

.right-comment {
	float: left;
	margin-left: 10px;
	font-size: .9em;
	width: 390px;
}

.right-comment a {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.comment-text {
	width: 388px;
	padding: 5px;
	font-size: .8em;
	border: 1px solid #C9C9C9;
}

.comment-submit {
  display: none;
}

.new-comment {
	padding: 5px;
}

.left-new-comment {
	float: left;
	height: 40px;
}

.right-new-comment {
	float: left;
	margin-left: 10px;
}