// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wall-header {
  padding-left: 20px;
  background: #FFF;
}

.wall-header ul {
  list-style: none;
}

.wall-header ul li {
  float: left;
  padding: 15px;
}