// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in, .sign-up, .profile-form {
	width: 300px;
  border-radius: 3px;
  background-color: #DFE7FF;
  padding: 20px 0;
}

.sign-in-header {
  padding-bottom: 20px;
  font-size: 1.5em;
  width: 110px;
  margin: auto;
  font-weight: bold;
}

.sign-in-buttons {
	width: 200px;
	margin: auto;
}

.sign-in-submit {
	margin-top: 10px;
	padding: 10px 0px;
	width: 200px;
	background-color: #C9C9C9;
	color: white;
}

.sign-in-input:first-child {
	border-top: 1px solid #C9C9C9;
}

.sign-in-input {
	padding: 10px;
  width: 180px;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
}

.sign-in-page, .sign-up-page {
  margin: auto;
  padding: 0 30px;
  width: 300px;
  position: relative;
  top: 100px;
}

.sign-in-submit:hover {
  cursor: pointer;
}

.sign-up-button-wrapper {
  width: 178px;
	margin: auto;
}

.sign-up-button{
  background: #fff;
  padding-top: 10px;
  color: #1CA4E8;
  font-size: 1em;
}

.sign-up-button:hover {
  text-decoration: underline;
}

.sign-up-page h2 {
  padding: 20px 0;
  font-size: 1.8em;
  width: 100px;
  margin: auto;
  font-weight: bold;
}

.birth-date {
  padding-top: 10px;
  font-size: 1em;
  margin-left: 40px;
}

.gender {
  padding-top: 10px;
  margin-left: 40px;
}

.sign-in-button {
  border: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  width: 190px;
  padding-top: 10px;
  margin-left: 40px;
  color: blue;
  font-size: 0.8em;
}

.sign-in-button:hover {
  text-decoration: underline;
}

.profile-form {
  width: 310px;
  margin: auto;
}

.profile-input {
  width: 150px;
}

.profile-label {
  display: inline-block;
  width: 150px;
}

.profile-form {
  padding: 20px;
}

.profile-setup-page {
  margin-top: 100px;
}

h2.profile-header {
  font-weight: bold;
  margin: auto;
  width: 240px;
  padding-bottom: 20px;
}

h3.profile-header {
  font-weight: bold;
  margin: auto;
  padding-bottom: 20px;
  width: 267px;
}