// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// User Index Page
.user-header-photo {
  width: 50px;
  height: 50px;
  float: left;
}

.users-index-wrapper {
  width: 1000px;
  margin: auto;
}

.users-index {
	padding: 10px 40px;
}

.user-index {
  width: 250px;
  height: 75px;
}

.index-right {
	float: left;
	padding: 10px;
  padding-top: 3px;
}

.user-index a {
  font-weight: bold;
}

.friendship-button input {
	padding: 3px;
	margin-top: 3px;
	font-size: .7em;
	color: #FFF;
	background: #0533B2;
	border-radius: 2px;
}

.pending-request-wrapper {
  width: 1000px;
  margin: auto;
}

.pending-request-header {
  font-size: 1.5em;
	padding-bottom: 15px;
}

.pending-body-wrapper {
	padding: 25px 50px;
}

.photos {
  width: 1000px;
  margin: auto;
}

.user-photos-wrapper {
	padding-top: 30px;
}

.user-photos-wrapper article {
	background: #FFF;
	border: 1px solid #c9c9c9;
	border-top: 0;
}

.no-photos {
	padding: 50px 0;
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
}

.user-photos-header {
	background: #EEEEEE;
	border: 1px solid #c9c9c9;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.user-photos {
	padding-left: 20px;
}

.user-photos li {
  float: left;
	width: 200px;
	height: 200px;
	margin: 20px;
	text-align: center;
	overflow: hidden;
}

.photo-index-view {
	min-width: 100%;
	min-height: 100%;
	position: relative;
  left: 100%;
  margin-left: -200%;
}

.about {
  width: 1000px;
  margin: auto;
}

.about-content-wrapper {
	margin-top: 30px;
	background: #FFF;
	border: 1px solid #c9c9c9;
}

.about-title {
	background: #EEEEEE;
  font-size: 1.2em;
	padding: 5px;
	font-weight: bold;
	border-bottom: 1px solid #c9c9c9;
}

.about-content-wrapper article {
	padding: 20px;
}

.right {
  margin-left: 30px;
  float: left;
}

.left {
  float: left;
	border-right: 1px solid #c9c9c9;
	padding-right: 20px;
}

.table-header {
  font-weight: bold;
  padding-bottom: 10px;
}

th {
  text-align: left;
	font-weight: normal;
	font-size: .9em;
	color: #c9c9c9;
}

tr {
	font-size: .9em;
}

.user-friends-header {
	background: #EEEEEE;
  font-size: 1.2em;
	padding: 5px;
	font-weight: bold;
	border-bottom: 1px solid #c9c9c9;
}

.user-friends-wrapper {
	margin-top: 30px;
	background: #FFF;
	border: 1px solid #c9c9c9;
}

.is-friend {
	padding: 3px;
	margin-top: 3px;
	font-size: .8em;
	color: #FFF;
	background: #0533B2;
	border-radius: 2px;
	border: 1px solid #c9c9c9;
	display: inline-block;
}

.is-friend:hover {
	cursor: default;
}

.friends {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

.friends article {
  margin-left: 30px;
	margin-top: 20px;
}