<form action="<%= post_comments_url(post) %>" method="post" data-remote="true" id="new-comment-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="comment[body]" placeholder="Comment..." class="comment-text">

  <p><input type="submit" value="Comment" class="comment-submit"></p>
</form>