<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="post[body]" placeholder="Post on Wall..">
  <input type="hidden" name="post[receiver_id]" value="<%= user.id %>">

  <p><input type="submit" value="Post"></p>
</form>